<html>
<body>
	<button onclick="location.href = 'listOfContainers.html';" id="myButton1" class="float-left submit-button" >List your containers</button>
	<button onclick="location.href = 'containerdetails.html';" id="myButton2" class="float-left submit-button" >Create a new container service</button>
	<button onclick="location.href = 'deletecontainer.html';" id="myButton3" class="float-left submit-button" >Delete your existing container </button>
	<h3> Your container with below details has been created! </h3>
	<ol>
		<li> Image: {{ image }} </li>
		<li> Container Name: {{ container_name }} </li>
		<li> SSH details to access the container: {{ container_port }} </li>
	</ol>
	<p> You can login to the container as: ssh root@hostIP -p port </p>
	<p1> The default password for this container is 'root'. Please ensure to change the password on your first login. </p1>
<div style = "float:right">
	<button onclick = "location.href = 'logout'"; id = "mybutton4"> Logout </button>
</div>
</body>
</html>