<html>
<body>
	<button onclick="location.href = 'listOfContainers.html';" id="myButton1" class="float-left submit-button" >List your containers</button>
	<button onclick="location.href = 'containerdetails.html';" id="myButton2" class="float-left submit-button" >Create a new container service</button>
	<button onclick="location.href = 'deletecontainer.html';" id="myButton3" class="float-left submit-button" >Delete your existing container </button>
	<p> The specified container has been successfully stopped and deleted. </p>
</body>
</html>